name: build
on:
  pull_request:
  tags:
  - 'v*'
jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build
        run: |
          make run-docker
          ls -l
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: rpms
          path: RPMS/**/*
      - uses: marvinpinto/action-automatic-releases@v1.1.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            RPMS/**/*
